h2{
    text-align: center; color: aliceblue; font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}

body{
    text-align: center; color: black; font-weight: 600;
    background-color: rgb(160, 60, 60);
}

