h2{
    text-align: center;
    background-color: rgb(189, 25, 25);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: black;
}

p{
    text-align: center; color: aliceblue;
}


